@import "../utility/variables";
@import "../base/typography";

#github {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 20% 5% 20%;

  h3 {
    font-size: $large-font-size;
    padding-bottom: 2rem;
  }

  p {
    font-size: $medium-font-size;
    font-weight: 300;
  }

  a {
    color: $color-primary;
    margin-top: 2rem;
    padding: 1rem 3rem;
    border: 3px solid $color-primary;
    border-radius: 20px;
  }

  a:hover,
  a:focus {
    background-color: $color-primary;
    color: $text-light;
    transition: 0.3s ease-out;
  }
}
