@import "../utility/variables";
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@300;400;700;900&display=swap");

//font family
:root {
  font-size: $root-font-size;
  font-family: "Roboto", sans-serif;
}

//<a> defaults
a {
  font-size: $default-font-size;
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }
}
