@media only screen and (max-width: 600px) {
  #introduction {
    h1 {
      font-size: $large-font-size;
    }

    h3 {
      font-size: 1.8rem;
    }

    img {
      width: 50%;
    }
  }

  #about {
    padding: 10% 5%;
    h3 {
      font-size: $medium-font-size;
    }

    p {
      font-size: 1.8rem;
    }
  }

  //#skills
  .content {
    padding: 3% 5%;

    h4 {
      font-size: $medium-font-size;
    }

    i {
      display: none;
    }
  }

  #projects {
    h3 {
      font-size: $medium-font-size;
    }

    p {
      font-size: 1.8rem;
      padding: 0 5% 2rem 5%;
    }
  }

  #github {
    padding: 10% 5%;
    h3 {
      font-size: $medium-font-size;
    }
    p {
      font-size: 1.8rem;
    }
  }

  footer {
    padding: 5% 10%;

    div {
      font-size: 1.2rem;
    }

    ul {
      justify-content: space-between;
    }
  }
}
