//background defaults
.bg-g {
  background-color: $color-green;
}

.bg-b {
  background-color: $color-blue;
}

.bg-s {
  background-color: $color-salmon;
}

.bg-y {
  background-color: $color-yellow;
}

//hidden class
.invisible {
  display: none;
}
