//Font Colour
$color-primary: #262d33;
$color-green: #b9fbc0;
$color-blue: #90dbf4;
$color-salmon: #ffcfd2;
$color-yellow: #fbf8cc;
$color-hover: #33415c;
$text-light: #e6e6ea;

//Font Sizes
$root-font-size: 62.5%; //10px base
$default-font-size: 1.6rem; //16px
$medium-font-size: 2.4rem; //24px
$large-font-size: 3rem; //30px
$xl-font-size: 4rem; //40px;
